
    .snowflake {
      --size: 1vw;
      width: var(--size);
      height: var(--size);
      background: white;
      border-radius: 50%;
      position: absolute;
      top: -5vh;
      animation: snowfall linear infinite;
        z-index: 100;
    }

    @keyframes snowfall {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(0, 110vh, 0);
      }
    }

    .snowflake:nth-child(6n) {
      filter: blur(1px);
    }