/*---START HEADER---*/

/*---END HEADER---*/



/*---START NAVBAR---*/



/*---END NAVBAR---*/



/*---START MAIN---*/
main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*---END MAIN---*/



/*---START CONTAINER---*/
.container {
    color: var(--white);
    width: 69%;
    text-align: center;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding: 2%;
    margin: 1.5%;
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px rgba(31, 38, 135, 0.1), 0 4px 16px rgba(31, 38, 135, 0.1);
    z-index: 1;
}
/*---END CONTAINER---*/

.HBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.VBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}



/*---START FOOTER---*/
footer {
    color: var(--darkBlue1);

    width: 93%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px rgba(31, 38, 135, 0.1), 0 4px 16px rgba(31, 38, 135, 0.1);
    z-index: 5;
}
/*---END FOOTER---*/