.header {
    border-bottom: solid;
    border-color: #707B7C;
    border-width: 2px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.information {
    text-align: left;
    font-size: 11px;
    padding-top: 2px;
}

.company {
    text-align: center;
    flex-grow: 1;
    align-self: flex-start;
    margin-top: -5px;
}

.text {
    margin-top: 15px;
}

.bold {
    font-weight: 600;
}

h2 {
    font-size: 25px;
    padding-right: 10px;
}

ul {
    padding-top: 12px;
    padding-bottom: 12px;
    list-style-position: inside;
    list-style-type: circle;
    border-bottom: solid;
    border-color: #707B7C;
    border-width: 2px;
}

ul li {
    padding: 2px;
}

#apply {
    background-color: var(--bleuUM);
    color: var(--white);
    width: 25%;
    padding: 15px 0;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size : 1.2em;
    box-shadow: inset 10px 10px 20px #ffffff45,
    inset -10px -10px 20px #00000020,
    10px 10px 10px #00000020,
    -10px -10px 10px #ffffff45;

    margin-top: 22px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)
}

#apply:hover {
    color: var(--white);
    opacity: 0.69;
}

.subContainer {
    width: 25%;
}
@media (max-width: 41200px) {
    .subContainer {
        width: 21%;
    }
    #list{
        flex-direction: row;
    }
}

@media (max-width: 1300px) {
    .subContainer {
        width: 21%;
    }
    #list{
        flex-direction: row;
    }
}

@media (max-width: 950px) {
    .subContainer {
        width: 69%;
        margin-left: 15.5%;
    }
    #list{
        flex-direction: column;
    }
}

#list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.custom-button{
    position: absolute;
    top: 53%;
    right: 50px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.6;
}

#search-bar{
    margin-bottom: 0;
}

td {
    padding: 10px;
}

/*---START SMALL OFFER---*/
.small {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 1rem;
    padding: 5px;
    text-align: center;
    min-width: max-content;
    max-width: 305px;
    height:155px;
    word-break: break-word;
    margin-left:14%;
}

.small:hover{
    background-color: #F2F2F2;
    cursor: pointer;
    transform: scale(1.02);
}

.small div {
    font-size: 11px;
    padding: 5px;
}

h3 {
    font-size: 15px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.small .information {
    text-align: center;
}

.small .information * {
    margin: 5px;
}
/*---END SMALL OFFER---*/