#option{
    min-width: 20em;
    width: 20em;
    max-width: 20em;
    font-size: 10px;
}
#panel{
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    min-height: 50em;
    margin-bottom: 40px;
}

#placeholder{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 80vh;
    overflow: auto;
    padding-top: 10px;
}

#placeholder > .VBox{
    align-items: center;
    justify-content: flex-start;
}

#placeholder .line, .columnName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2em;
    width: 90%;
    box-sizing: unset;
    position: relative;
    border: var(--grey2) solid 2px;
}

.columnName{
    margin-top: 10px;
    border: none;
    font-weight: bold;
    width: 92%;
}

#placeholder .line:hover{
    border-color: var(--darkBlue1);
}

.HBox.containerEtatNomEntreprise{
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: auto;
    max-width: 35%;
}

#placeholder .HBox *{
    margin-right: 1em;
}

.line label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lineNomEntreprise{
    font-weight: bold;
    font-size: 16px;
}

.lineCodePostalEntreprise{
    position: absolute;
    left: 40%;
}

.columnName .lineCodePostalEntreprise{
    left: 37%;
}

.lineTelephoneEntreprise{
    position: absolute;
    left: 53%;
}

.lineSiteWebEntreprise{
    position: absolute;
    left: 70%;
}

.line button{
    margin: 0;
    height: 3em;
    width: 6em;
    padding: 0;
    font-size: 0.9em;
}

.circle {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
}

.greenColor{
    background-color: var(--green);
}

.orangeColor{
    background-color: var(--orange);
}

.redColor{
    background-color: var(--red);
}


@media (max-width: 950px) {
    #panel{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #option{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: fit-content;

    }

    #option button{
        font-size: 0.9vw;
    }

    #panel{
        height: auto;
    }

    #placeholder .line, .columnName{
        width: 95%;
    }

    .lineTelephoneEntreprise{
        display: none;
    }

    .lineCodePostalEntreprise{
        display: none;
    }

    .lineSiteWebEntreprise{
        left: 55%;
    }

    .HBox.containerEtatNomEntreprise{
        max-width: 50%;
        justify-content:flex-start;
    }
}