#adminPP {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0;
    border: var(--darkBlue2) solid 4px;
    margin: 10px;
    z-index: 5;
}

#adminName{
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: left;
    z-index: 5;
}

#adminBackground{
    position: absolute;
    left: 0;
    background: var(--darkBlue2);
    height: 98px;
    width: 90px;
    z-index: 4;
}

.HBox{
    height: auto;
}

#panel{
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    min-height: 50em;
    margin-bottom: 40px;
}


/*---START SEARCH BAR---*/

#searchBarParent{
    width:100%;
    margin-right: 0;
}

form #search-button{
    top: 35px;
    right: 65px;
}

#title{
    white-space: nowrap;
    font-size: 1.8em;
    margin-left: 10px;
}

form #search-bar{
    width: 55%;
    margin-right: 0;
}

#searchBarParent form{
    display: flex;
    justify-content: flex-end;
}

/*---END SEARCH BAR---*/

#mainContent{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 85vh;
    width: 89%;
    margin-left: 15%;
    margin-right: -4%;
    margin-top: 0;
    overflow: auto;
    padding-top: 10px;
    border : rgba(0,0,0,0.005) solid 10px;
    overflow-x: hidden;
}

#mainContent > .VBox{
    align-items: center;
    justify-content: flex-start;
}

#mainContent .line,
.columnName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.5vh;
    width: 96%;
    margin: 0;
    box-sizing: unset;
    position: relative;
    border: rgba(0,0,0,0) solid 3px;
    transition: all 0.3s ease-in-out;
}

.line{
    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    border-radius: 0;
}

#mainContent .line:nth-child(odd){
    background: rgba(0, 0, 0, 0.1);
}
#mainContent .line:nth-child(even){
    background: rgba(0, 0, 0, 0.05);
}

.columnName{
    background: var(--grey0);
    margin-top: 10px;
    border: none;
    font-weight: bold;
    width: 99%;
    padding: 9px;
    height: 30px;
    border-radius: 1rem 1rem 0 0;
    border-bottom: var(--grey1) solid 3px;
}

.line:hover .button{
    opacity: 1;
}

.line .button{
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    margin: 0;
    width: 6em;
    padding: 8px 8px 8px 5px;
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
}


#mainContent .greenHover:hover{
    border-color: var(--green);
    box-shadow : 10px 10px 10px #00000025,
    -10px -10px 10px #27AE6025;
}

#mainContent .yellowHover:hover{
    border-color: var(--yellow);
    box-shadow : 10px 10px 10px #00000025,
    -10px -10px 10px #F1C40F25;
}

#mainContent .redHover:hover{
    border-color: var(--red);
    box-shadow : 10px 10px 10px #00000025,
    -10px -10px 10px #E74C3C25;
}

#mainContent .Alternance:hover{
    border-color: var(--orange);
    box-shadow : 10px 10px 10px #00000025,
    -10px -10px 10px #E67E2225;
}

#mainContent .Stage:hover{
    border-color: var(--wisteria);
    box-shadow : 10px 10px 10px #00000025,
    -10px -10px 10px #8E44AD25;
}

#mainContent .OffreNonDefini:hover{
    border-bottom-color: var(--wisteria);
    border-left-color: var(--orange);
    border-right-color: var(--wisteria);
    border-top-color: var(--orange);
    box-shadow: 10px 10px 10px #00000025,
    -10px -10px 10px #E67E2225;
}

#mainContent .line:hover{
    cursor: pointer;
}

.HBox.containerDebutLine{
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    margin-bottom: 0;
}

#columnFirst{
    margin : 0 0 0 10px;
}

#columnCodePostal{
    width: 10%;
}

#mainContent .HBox *{
    margin-right: 8px;
}

.line label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lineNomEntreprise, .lineNomPrenomEtudiant{
    font-weight: bold;
    font-size: 16px;
}



/*---START Offer lines---*/
.lineSujetOffre{
    font-weight: bold;
    position: absolute;
    left: 13%;
    width: 35%;
    text-align: left;
    text-overflow: ellipsis;
}

.lineEntrepriseOffre{
    position: absolute;
    right: 30%;
    width: 15%;
    text-align: left;
    text-overflow: ellipsis;
}

.lineDateOffre{
    position: absolute;
    right: 10%;
    width: 15%;
    text-align: left;
    text-overflow: ellipsis;
}

.deleteButtonOrigin{
    opacity: 0;
    text-decoration: none;
    color: var(--darkBlue2);
    position: absolute;
    right: 3%;
    transition: all 0.3s ease-in-out;
}

.editButton{
    opacity: 0;
    text-decoration: none;
    color: var(--darkBlue2);
    position: absolute;
    right: 8%;
    transition: all 0.3s ease-in-out;
}

.line > a > span::before{
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 1.8em;
}

.deleteButtonOrigin span::before{
    content: '\f1f8';
}

.editButton span::before{
    content: '\f044';
}

.offre:hover > .editButton,
.offre:hover > .deleteButtonOrigin{
    color: var(--darkBlue2);
    opacity: 0.9;
}

.offre:hover > .editButton:hover,
.offre:hover > .deleteButtonOrigin:hover{
    color: var(--darkBlue2);
    opacity: 0.6;
}
/*---END Offer lines---*/



.lineCodePostalEntreprise{
    position: absolute;
    left: 40%;
}

.columnName .lineCodePostalEntreprise{
    left: 37%;
}

.lineTelephoneEntreprise {
    position: absolute;
    left: 53%;
}

.lineSiteWebEntreprise{
    position: absolute;
    left: 70%;
}

.lineMailUniversitaireEtudidant{
    position: absolute;
    left: 55%;
    width: 29.5%;
}

.lineNumEtudiant{
    position: absolute;
    width: 15%;
    left: 35%;
}

.circle {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
}

.greenColor{
    background-color: var(--green);
}

.yellowColor{
    background-color: var(--yellow);
}

.redColor{
    background-color: var(--red);
}

/**************************************************
***************** Management Panel ****************
***************************************************/
.managementPanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.entityInformation{
    border: var(--grey2) solid 3px;
    justify-content: space-between;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    max-height: 60%;
    margin: 0;
    font-size: 1vw;
}

#managementEntrepriseName, #managementEtudiantName, #managementEtudiantSurname{
    font-size: 2.5em;
    font-weight: bold;
}

.managementActions{
    max-height: 30%;
    display: flex;
    flex-direction: row;
}

.managementActions .button, .managementActions input[type="submit"]{
    margin: 10px;
    font-size: 1.4em;
    border-radius: 15px;
}

#validation, .managementActions input[type="submit"]{
    background-color: var(--green);
    color: var(--white);
}

#validation:hover{
    background-color: var(--emerald);
}

#invalidation{
    background-color: var(--yellow);
    color: var(--white);
}

#invalidation:hover{
    background-color: var(--darkYellow);
}

#suppression{
    background-color: var(--red);
    color: var(--white);
}

#suppression:hover{
    background-color: var(--pomegranate);
}

#modification{
    background-color: var(--grey1);
    color: var(--white);
}

#modification:hover{
    background-color: var(--grey0);
}
.managementActions *{
    font-size: 1vw;
}

.entityInformation > .top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 5%;
    border-bottom: var(--grey1) solid 3px;
}

.entityInformation > .top > .state{
    display: flex;
    flex-direction: row;
}

.entityInformation > .top > .state *{
    padding-right: 10px;
}

.entityInformation > .top > .state > .circle{
    height: 1.75em;
    width: 1.75em;
}

.entityInformation label{
    display: inline-block;
    word-break: break-all;
}

#managementEntrepriseValidation, #managementEtudiantState{
    font-size: 1em;
}

#managementEntrepriseSiret, #managementEntrepriseEffectif,
#managementEntrepriseCodePostal, #managementEntrepriseMail,
#managementEntrepriseTelephone , #managementEtudiantCodePostal,
#managementEtudiantNumEtudiant, #managementEtudiantMailPerso,
#managementEtudiantMailUniv, #managementEtudiantTelephone{
    font-size: 1.5em;
}

.entityInformation > .down{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.entityInformation > .down > .VBox{
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5%;
    flex-grow: 2;
    max-width: 60%;
}

.entityInformation > .down > .VBox:first-child{
    border-right: var(--grey1) solid 3px;
    max-width: 40%;
}

.entityInformation > .down div{
    display: flex;
}

.entityInformation > .down div > label:first-child{
    white-space: nowrap;
    margin-right: 5px;
}

.entityInformation > .down div > label:nth-of-type(2){
    overflow-wrap: break-word;
}

@media (max-width: 950px) {
    #panel{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #option{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: fit-content;

    }

    #option button{
        font-size: 0.9vw;
    }

    #panel{
        height: auto;
    }

    #mainContent .line, .columnName{
        width: 95%;
    }

    .lineTelephoneEntreprise{
        display: none;
    }

    .lineCodePostalEntreprise{
        display: none;
    }

    .lineSiteWebEntreprise{
        left: 55%;
    }

    .HBox.containerDebutLine{
        width: 50%;
        justify-content:flex-start;
    }

    .lineMailUniversitaireEtudidant{
        display: none;
    }

    .lineNumEtudiant{
        left: 55%;
        width: 20%;
    }


    /**************************************************
    ***************** Management Panel ****************
    ***************************************************/

}

#option{
    position: absolute;
    top: 80px;
    left: 0;
    min-width: 20em;
    width: 25em;
    max-width: 25em;
    font-size: 10px;
    height: 100%;
    border-radius: 0 1.5rem 0 1.5rem;
    margin: 0;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#option .button{
    background: none;
    color: var(--darkBlue2);
    box-shadow: none;
    border: none;
    font-weight: bold;
    margin-top: 0;
    margin-left: -25px;
    white-space: nowrap;
    height: 50px;
    width: fit-content;
    margin-bottom: 10px;
}

#option .button:hover{
    background: rgba(0, 0, 0, 0.1);
    color: var(--darkBlue2);
    box-shadow: none;
    border: none;
    font-weight: bold;
    margin-top: 0;
    margin-left: -13px;
    white-space: nowrap;
}

#option .VBox{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#option a .HBox{
    justify-content: flex-start;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--darkBlue2);
    text-decoration: none;

}

#option a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

a img:active{
    background: var(--grey0);
    color : var(--darkBlue2);
    opacity: 1;
}

#title img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    opacity: 0.8;
}

#title .HBox{
    margin: 0;
}

.button span::before,
.title span::before{
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 1.8em;
}

.title span{
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}

.title:hover span{
    cursor: default;
}

.button span{
    font-size: 1.1em;
}

#studentListButton span::before,
#titleEtudiant span::before {
    content: '\f007';
}

#companyListButton span::before,
#titleEntreprise span::before {
    content: '\f0b1';
}

#offerListButton span::before,
#titleOffre span::before {
    content: '\f022';
}

#importDataButton span::before,
#titleImport span::before {
    content: '\f093';
}


/*---START OFFRE---*/

.containerDebutLine > .typeExpPro {
    border-radius: 13px;
    padding: 6px;
    font-size: 11px;
    font-weight: bold;
    width: 95px;
    margin-bottom: 5px;
}

.Stage > .HBox > .typeExpPro,
.Stage > .header > .information > .typeExpPro {
    border-color: var(--wisteria);
    background-color: var(--wisteria);
    color: var(--white);
}

.Stage:hover {
    border-color: var(--wisteria);
    box-shadow: 10px 10px 10px #00000025,
    -10px -10px 10px #8E44AD25;
}

.Alternance > .HBox > .typeExpPro,
.Alternance > .header > .information > .typeExpPro {
    border-color: var(--orange);
    background-color: var(--orange);
    color: var(--white);
}

#mainContainer:hover{
    box-shadow: 0 2px 8px rgba(31, 38, 135, 0.1), 0 4px 16px rgba(31, 38, 135, 0.1);
}

.Alternance:hover {
    border-color: var(--orange);
    box-shadow: 10px 10px 10px #00000025,
    -10px -10px 10px #E67E2225;
}

.OffreNonDefini > .HBox > .typeExpPro,
.OffreNonDefini> .header > .information > .typeExpPro {
    background: linear-gradient(-45deg, var(--wisteria) 0%, var(--wisteria) 50%, var(--orange) 50%, var(--orange) 100%);
    color: var(--white);
    border-bottom-color: var(--wisteria);
    border-left-color: var(--orange);
    border-right-color: var(--wisteria);
    border-top-color: var(--orange);
}

.OffreNonDefini:hover {
    border-bottom-color: var(--wisteria);
    border-left-color: var(--orange);
    border-right-color: var(--wisteria);
    border-top-color: var(--orange);
    box-shadow: 10px 10px 10px #00000025,
    -10px -10px 10px #E67E2225;
}

/*---END OFFRE---*/

/*---START STATS ETUDIANT---*/
#statBox > div{
    padding: 15px;
    border-radius: 50px;
    font-size: 2em;
    margin-right: 0;
}

#statTotal{
    background: var(--lightpastelBlue);
}

#statTotal span::before{
    color : var(--blue);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0c0';
}

#statValide{
    background: var(--lightpastelGreen);
}

#statValide span::before{
    color : var(--green);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f00c';
}

#statInter{
    background: var(--lightpastelYellow);
}

#statInter span::before{
    color : var(--yellow);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f06a';
}

#statBad{
    background: var(--lightpastelRed);
}

#statBad span::before{
    color : var(--red);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f00d';
}

/*---Specific for offers---*/
#statOffreTotal{
    background: var(--lightpastelBlue);
}

#statOffreTotal span::before{
    color : var(--blue);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f03a';
}

#statStage{
    background: var(--lightpastelPurple);
}

#statStage span::before{
    color : var(--purple);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0b1';
}

#statAlternance{
    background: var(--lightpastelOrange);
}

#statAlternance span::before{
    color : var(--orange);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0b1';
}

#statNonDefini{
    background: var(--lightpastelRed);
}

#statNonDefini span::before{
    color : var(--red);
    font-family: 'FontAwesome';
    margin-right: 10px;
    content: '\f0b1';
}

/*---START Import page---*/
input[type="file"]{
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--darkBlue2);
    cursor: pointer;
}

.input-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
}

.input-row > label{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--darkBlue2);
    margin: 50px;
}