#option{
    min-width: 20em;
    width: 20em;
    max-width: 20em;
    font-size: 10px;
}
#panel{
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    min-height: 50em;
    margin-bottom: 40px;
}

#placeholder{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 80vh;
    overflow: auto;
    padding-top: 10px;
}

#placeholder > .VBox{
    align-items: center;
    justify-content: flex-start;
}

#placeholder .line{
    display: flex;
    border: var(--darkBlue2) solid 1px;
    justify-content: space-between;
    align-items: center;
    min-height: 2em;
    width: 100%;
    box-sizing: unset;
}

.lineNomEntreprise{
    font-weight: bold;
    font-size: 14px;
}

.line button{
    margin: 0;
    height: 3em;
    width: 6em;
    padding: 0;
}

.line a{

}

.circle {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
}

.greenColor{
    background-color: var(--green);
}

.orangeColor{
    background-color: var(--orange);
}

.redColor{
    background-color: var(--red);
}


@media (max-width: 950px) {
    #panel{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #option{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: fit-content;

    }

    #option button{
        font-size: 0.9vw;
    }

    #panel{
        height: auto;
    }

    #placeholder .line{
        display: flex;
        flex-wrap: wrap;
        border: var(--darkBlue2) solid 1px;
        justify-content: space-between;
        align-items: center;
        min-height: 2em;
        width: 100%;
    }
}