#recentOffers{
    width : 69%;
    border-left : 2px solid var(--grey1);
    height: 400px;
}

#infoEtu{
    width : 31%;
    position : sticky;
    top : 0;
    display: grid;
    flex : 3;
}

#infoEtu p{
    text-align: left;
}

.container{
    width: auto;
}

.TDB{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 85vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0;
}

.content{
    width: 75%;
    margin: 0 10px 0 10px;
}